body,html{
border-block-start-color: rgb(219, 229, 238);
margin-left: 10px;

}

#text{
    margin-top: auto;
    text-align: justify;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    
}







